# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

cysparse_generate_code.log
cysparse.cfg
/build/*
/.idea/*
/.tox/*
/docs/users/build/*
/docs/developers/build/*
/*.egg-info
/dist
